@using MvcTraining.Models
@model List<Tblurunler>

<table class="table table-bordered" id="tbl1">
    <thead>
        <tr>
            <th>URUN ID</th>
            <th>URUN ADI</th>
            <th>MARKA</th>
            <th>KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead> 
    <tbody>
        @foreach(var urn in Model)
        {
            <tr>
                <th>@urn.Urunid</th>
                <td>@urn.Urunad</td>
                <td>@urn.Marka</td>
                <td>@urn.UrunkategoriNavigation?.Kategoriad</td>
                <td>@urn.Fiyat</td>
                <td>@urn.Stok</td>
                <td>
                    <a href="/URUN/Sil/@urn.Urunid" class="btn btn-danger btn-sm">SİL</a>
                </td>
                <td>
                    <a href="/URUN/UrunGetir/@urn.Urunid" class="btn btn-success btn-sm">GÜNCELLE</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/URUN/YeniUrun/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>


<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#tbl1').DataTable()
    });

</script>
