@using MvcTraining.Models
@model List<Tblurunler>

<table class="table table-bordered">
    <tr>
        <th>URUN ID</th>
        <th>URUN ADI</th>
        <th>MARKA</th>
        <th>KATEGORİ</th>
        <th>FİYAT</th>
        <th>STOK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <th>@urn.Urunid</th>
                <td>@urn.Urunad</td>
                <td>@urn.Marka</td>
                <td>@urn.UrunkategoriNavigation?.Kategoriad</td>
                <td>@urn.Fiyat</td>
                <td>@urn.Stok</td>
                <td>
                    <a href="/URUN/Sil/@urn.Urunid" class="btn btn-danger btn-sm">SİL</a>
                </td>
                <td>
                    <a href="/URUN/UrunGetir/@urn.Urunid" class="btn btn-success btn-sm">GÜNCELLE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
