@model MvcTraining.Models.Tblurunler

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Urunid)
        @Html.TextBoxFor(m => m.Urunid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Urunad)
        @Html.TextBoxFor(m => m.Urunad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Marka)
        @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Urunkategori)
        @Html.DropDownListFor(m => m.UrunkategoriNavigation.Kategoriid, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Fiyat)
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Stok)
        @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">
            Ürünü Güncelle
        </button>
    </div>
}